{% extends 'base.html' %}
{% block content %}

	<div class="index" style="width: 100%;">
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
		  Add Item
		</button>
		<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Add Item To Bill</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="POST" action="{{ url_for('add_sale', id=1) }}">
						<div class="modal-body">
							{{ sale_form.hidden_tag() }}

							{{ sale_form.item_code.label(class="form-label") }}
							{{ sale_form.item_code(class="form-control") }}

							{{ sale_form.item_name.label(class="form-label") }}
							{{ sale_form.item_name(class="form-control", disabled=true) }}

							{{ sale_form.item_length.label(class="form-label") }}
							{{ sale_form.item_length(class="form-control", value=0.00) }}

							{{ sale_form.item_qty.label(class="form-label") }}
							{{ sale_form.item_qty(class="form-control", value=0, onkeyup="checkQty()") }}
							<p id="available-qty" style="font-size: 10px; color: red;"></p>

							{{ sale_form.item_rate.label(class="form-label") }}
							{{ sale_form.item_rate(class="form-control", value=0) }}
						</div>
						<div class="modal-footer">
			      			{{ sale_form.submit(class="btn btn-primary", onclick="submitFunction()") }}
			      		</div>
			      	</form>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="float: right;">
		  Add Invoice Info
		</button>
		<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Invoice Details</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="POST" action="{{ url_for('add_sale', id=2) }}">
						<div class="modal-body">
							{{ invoice_form.hidden_tag() }}

							<h5 style="text-align: center;">Invoice # {{ invoice_no }}</h5>

							{{ invoice_form.customer.label(class="form-label") }}
							{{ invoice_form.customer(class="form-control") }}

							{{ invoice_form.address.label(class="form-label") }}
							{{ invoice_form.address(class="form-control") }}

							{{ invoice_form.sale_type.label(class="form-label") }}
							{{ invoice_form.sale_type(class="form-control") }}

							{{ invoice_form.discount.label(class="form-label") }}
							{{ invoice_form.discount(class="form-control", value=0.0) }}

							{{ invoice_form.remarks.label(class="form-label") }}
							{{ invoice_form.remarks(class="form-control") }}
						</div>
						<div class="modal-footer">
			      			{{ invoice_form.submit(class="btn btn-primary") }}
			      		</div>
			      	</form>
				</div>
			</div>
		</div>
	</div>
	<div class="index-1">
		<div id="tablediv" class="shadow p-3 mb-5 rounded table-responsive">
			<div class="container-project-icons" id="headingdv" style="text-align:center;">
				<h1 style="text-decoration: underline;">ITEM LIST</h1>
			</div>
			<table id="table" class="table table-light table-hover table-striped table-bordered" style="vertical-align: middle;">
				<thead>
					<tr style="text-align: center;">
						<th style="width: 7vh;">Sr. #</th>
						<th style="width: 12vh;">Product Code</th>
						<th style="width: 40vh;">Product Name</th>
						<th style="width: 10vh;">Length</th>
						<th style="width: 10vh;">Quantity</th>
						<th style="width: 12vh;">Rate</th>
						<th style="width: 14vh;">Sub-Total</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for sale in sales %}
						<tr>
							<td></td>
							<td>{{ sale.item_code }}</td>
							<td>{{ sale.item_name }}</td>
							<td class="length" style="text-align: right;">
								{{ sale.item_length }}
							</td>
							<td class="count-qty" style="text-align: right;">
								{{ sale.item_qty }}
							</td>
							<td class="rate" style="text-align: right;">
								{{ sale.item_rate }}
							</td>
							<td class="count-sub-total" style="text-align: right;">
								{{ sale.item_qty * sale.item_rate }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div id="discountdiv" style="float: right;">
				<h5 id="discounthead"></h5>
				<h3 id="balancehead"></h3>
			</div>
		</div>

		<style type="text/css">
			.index-1 {
				height: 92vh;
				display: block;
				flex-wrap: nowrap;
				justify-content: center;
				text-align: center;
				color: black;
				font-weight: bold;
				padding-top: 1vh;
				clear: both;
			}
			a {
				text-decoration: none;
				color: inherit;
			}

			/* FOR INCREMENTING ROW SERIAL NUMBER */
			table {
			  counter-reset: rowNumber;
			  table-layout: fixed;
			  width: auto;
			}

			table tbody tr {
			  counter-increment: rowNumber;
			}

			table tbody tr td:first-child::after {
			  content: counter(rowNumber);
			  min-width: 1em;
			  margin-right: 0.5em;
			}
			/* ############################# */
		</style>
	</div>


	<script type="text/javascript">
	    // SUM THE SUB-TOTAL COLUMN
		var tds = document.getElementById('table').getElementsByTagName('td');
		var sum_qty = 0;
		var sum_sub_total = 0;
		for(var i = 0; i < tds.length; i++) {
			if(tds[i].className == 'length') {
				tds[i].innerHTML = isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML).toLocaleString('en-US')
				if(tds[i].innerHTML == 0) {
					tds[i].innerHTML = '-'
				}
			}
			if(tds[i].className == 'count-qty') {
				sum_qty += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
				tds[i].innerHTML = isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML).toLocaleString('en-US')
				if(tds[i].innerHTML == 0) {
					tds[i].innerHTML = '-'
				}
			}
			if(tds[i].className == 'rate') {
				tds[i].innerHTML = isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML).toLocaleString('en-US')
				if(tds[i].innerHTML == 0) {
					tds[i].innerHTML = '-'
				}
			}
			if(tds[i].className == 'count-sub-total') {
				sum_sub_total += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
				tds[i].innerHTML = isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML).toLocaleString('en-US')
				if(tds[i].innerHTML == 0) {
					tds[i].innerHTML = '-'
				}
			}
		}
		document.getElementById('table').innerHTML += '<tfoot><tr style="text-align: center;"><th colspan="4">Total</th><th style="text-align: right;">' 
		+ sum_qty.toLocaleString('us-US') 
		+ '</th><th></th><th style="text-align: right;">' 
		+ sum_sub_total.toLocaleString('us-US')
		+ '</th></tr></tfoot>';

		document.getElementById('discount').onkeyup = function() {
			discount_value = document.getElementById('discount').value;
			document.getElementById('discounthead').innerHTML = 'Discount : ' 
			+ discount_value;

			balance_value = sum_sub_total - discount_value;
			document.getElementById('balancehead').innerHTML = 'Payable : ' 
			+ balance_value;
		};

		// QUERY & FILL THE FORM BASED ON SELECTED ITEM CODE VALUE
	    const item_code_selector = document.getElementById('item_code');
	    item_code_selector.onchange = function(){
	    	var selectedOption = this.getElementsByTagName('option')[this.selectedIndex].innerHTML;
	    	// console.log(selectedOption);
	    	if (selectedOption != 'Please Select Item Code'){
	    		$.ajax({
	    			url: "{{ url_for('update_form') }}", 
	    			type: "POST", 
	    			data: {"data": selectedOption}, 
	    			success: function(result){
	    				// console.log("Success! Received Data!");
	    				document.getElementById('item_name').value = result['item_name'];
	    				// document.getElementById('item_name').disabled = true;
	    				document.getElementById('item_rate').value = result['item_rate'];
	    				document.getElementById('available-qty').innerHTML = "Available Qty: " + result['item_qty'];
	    			}, 
	    			error: function(e){
	    				console.log(e);
	    			}
	    		});
	    	}
	    	else{
	    		document.getElementById('item_name').value = '';
				document.getElementById('item_rate').value = 0;
				document.getElementById('available-qty').innerHTML = '';
	    		alert("Please Select From Item Codes!");
	    	}
	    };

	    // CHECK IF QTY IS GREATER THAN AVAILABLE QTY AND RAISE ERROR
	    function checkQty(){
	    	var item_qty = parseInt(document.getElementById('item_qty').value);
	    	var str = document.getElementById('available-qty').innerHTML;
	    	var avail_qty = str.match(/(\d+)/);
	    	if (item_qty > parseInt(avail_qty[0])){
	    		alert("Available Quantity is less than Input Quantity\nPlease make sure you have enough quantity in inventory to add sale against it!");
	    		document.getElementById('item_qty').value = 0;
	    	}
	    };

	    function submitFunction(){
			document.getElementById('item_name').disabled = false;
	    };

	</script>

{% endblock %}
